/*=======================================
    GENERAL STYLES
==================================================*/
html {
  font-size: .6rem;
}

@media screen and (min-width: 540px) {
  html {
    font-size: .75rem;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: .85rem;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 1rem;
  }
}

/*  */
body{
  font-family:'Open Sans', sans-serif;
  /* background: #ced5dd; */
}

#thumbnail {
  position: relative;
  width: 100%;
}

#thumbnail .appear-on-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 0.7em;
}

/* BUTTON APPEARS ON HOVER */
a.appear-on-hover {
  opacity: 0;
  transition: opacity 0.3s;
}

img:hover + .appear-on-hover, .appear-on-hover:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.text-center {
    text-align:center;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.fa-asterisk{
  color: red;
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}
.alg-right-pad {
    float:right;
    padding-right:20px;
}
a:hover {
    text-decoration:none;
}

/* CAROUSEL STYLES */

.carousel-fade .carousel-inner .item {
opacity: 0;
transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
left: 0;
opacity: 0;
z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
opacity: 1;
}

.carousel-fade .carousel-control {
z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
.carousel-fade .carousel-inner > .item.next,
.carousel-fade .carousel-inner > .item.active.right {
opacity: 0;
-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-inner > .item.prev,
.carousel-fade .carousel-inner > .item.active.left {
opacity: 0;
-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-inner > .item.next.left,
.carousel-fade .carousel-inner > .item.prev.right,
.carousel-fade .carousel-inner > .item.active {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
}

/*=======================================
  NAVBAR ADJUSTMENTS
==================================================*/

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */

/*=======================================
  FOOTER SECTION
==================================================*/
.footer-box {
    background-color:#F5F5F5;
    padding:20px 50px 20px 50px;


}
.small-box {
    font-size:10px;
}

.footer-box a {
    color:#808080;
    text-decoration:none;
}
.footer-box a:hover {
    color:#000;
}
.pad-botom {
    padding-bottom:30px;
}
.footer-box p {
    padding-top:15px;
    padding-bottom:15px;
    line-height:25px;
}
.social-box a{
     color:#333436;
    text-decoration:none;
}

.end-box {
    padding:20px;
     color:#fff;
     background-color:#000;
     font-size:14px;
}

/* Components */

.dropdown, .dropdown2 {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content, .dropdown-content2{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-content a, .dropdown-content2 a {
  color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content2 a:hover{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content, .dropdown2:hover .dropdown-content2 {
  display: block;
}

.dropdown:hover, .dropdown2:hover{
    background-color: #3e8e41;
}
