/*=======================================
    GENERAL STYLES
==================================================*/
html {
  font-size: .6rem;
}

@media screen and (min-width: 540px) {
  html {
    font-size: .75rem;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: .85rem;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 1rem;
  }
}

/*  */
body{
  font-family:'Open Sans', sans-serif;
  /* background: #ced5dd; */
}

#thumbnail {
  position: relative;
  width: 100%;
}

#thumbnail .appear-on-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 0.7em;
}

/* BUTTON APPEARS ON HOVER */
a.appear-on-hover {
  opacity: 0;
  transition: opacity 0.3s;
}

img:hover + .appear-on-hover, .appear-on-hover:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */

/*=======================================
  FOOTER SECTION
==================================================*/
.footer-box {
    background-color:#F5F5F5;
    padding:20px 50px 20px 50px;


}
.small-box {
    font-size:10px;
}

.footer-box a {
    color:#808080;
    text-decoration:none;
}
.footer-box a:hover {
    color:#000;
}
.pad-botom {
    padding-bottom:30px;
}
.footer-box p {
    padding-top:15px;
    padding-bottom:15px;
    line-height:25px;
}
.social-box a{
     color:#333436;
    text-decoration:none;
}

.end-box {
    padding:20px;
     color:#fff;
     background-color:#000;
     font-size:14px;
}
